.data-table {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 13px;
  color: #818181;
  border: 1px solid #ddd;
  border-bottom: 0;
}

.data-table td,
.data-table th {
  border-bottom: 1px solid #ddd;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table tr:hover {
  background-color: rgb(245, 245, 245);
}

.data-table th {
  text-align: left;
  font-weight: 400;
  padding-top: 12px;
  padding-bottom: 12px;
}

.data-table td {
  padding-top: 24px;
  padding-bottom: 24px;
}
